@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoone627.eot?3p0rtw');
	src:url('fonts/icomoond41d.eot?#iefix3p0rtw') format('embedded-opentype'),
		url('fonts/icomoone627.woff?3p0rtw') format('woff'),
		url('fonts/icomoone627.ttf?3p0rtw') format('truetype'),
		url('fonts/icomoone627.svg?3p0rtw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	min-width: 1em;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	vertical-align: middle;
	position: relative;
	top: -1px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
